<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
	
	<!-- 

		WELCOME TO CORE LAB INTERACTION. 

		         			___           ___           ___           ___     
                 /\  \         /\  \         /\  \         /\  \    
                /::\  \       /::\  \       /::\  \       /::\  \   
               /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/\:\  \  
              /:/  \:\  \   /:/  \:\  \   /::\~\:\  \   /::\~\:\  \ 
             /:/__/ \:\__\ /:/__/ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\
             \:\  \  \/__/ \:\  \ /:/  / \/_|::\/:/  / \:\~\:\ \/__/
              \:\  \        \:\  /:/  /     |:|::/  /   \:\ \:\__\  
               \:\  \        \:\/:/  /      |:|\/__/     \:\ \/__/  
                \:\__\        \::/  /       |:|  |        \:\__\    
                 \/__/         \/__/         \|__|         \/__/    
                           ___       ___           ___     
                          /\__\     /\  \         /\  \    
                         /:/  /    /::\  \       /::\  \   
                        /:/  /    /:/\:\  \     /:/\:\  \  
                       /:/  /    /::\~\:\  \   /::\~\:\__\ 
                      /:/__/    /:/\:\ \:\__\ /:/\:\ \:|__|
                      \:\  \    \/__\:\/:/  / \:\~\:\/:/  /
                       \:\  \        \::/  /   \:\ \::/  / 
                        \:\  \       /:/  /     \:\/:/  /  
                         \:\__\     /:/  /       \::/__/   
                          \/__/     \/__/         ~~       



	ascii art generated w/ www.network-science.de/ascii

	 -->

</head>
<body>

	{{ page.content | markdownify }}

</body>
</html>